<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Trident Caribbean - Embalaje y Procesamiento de Mariscos en el Caribe {% endblock %}</title>
		<meta name="description" content="Embalaje y Procesamiento de mariscos en el Caribe">
		<meta name="keywords" content="Caribbean, Food, Processor, Meats, Poultry, Seafood">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet">		
		<link href="/css/style.css" rel="stylesheet">
		<link href="/css/blue.css" rel="stylesheet"> 
		<link rel="shortcut icon" href="/img/favicon/favicon.png">
	</head>
	
	<body>

		<!-- Header starts -->
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<h1>
							<a href="/en/">
								<img src="/img/logo.png"/ class="pull-left logo-img"> 
								<div class="logo-text">Trident Caribbean</div>
							</a>
						</h1>
						<h2>Embalaje y Procesamiento de Mariscos en el Caribe</h2>
					</div>
				</div>
			</div>
		</header>
		<!--/ Header ends -->

		<!-- Navigation Starts -->
		<div class="navbar bs-docs-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li><a href="/es/">Casa</a></li>
						<li><a href="/es/productos/">Productos</a></li>
						<li><a href="/es/mercados/">Mercados</a></li>
						<li><a href="/es/acerca-de/">Acerca De</a></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li><a href="/en/"><img src="/img/english.png" /> English</a></li>
						<li><a href="/es/"><img src="/img/espanol.png" /> Español</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!--/ Navigation Ends -->   

		<!-- Content starts -->
        {% block content %}
        {% endblock %}

		<!--/ Content ends --> 

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="widget">
							<h4>Personal</h4>
							<div>
								<strong>Administración y Ventas</strong><br>
								James O. Beatty - <a href="mailto:jbeatty@tridentcaribbean.com">jbeatty@tridentcaribbean.com</a><br>
							</div>
							<br>
							<div>
								<strong>Servicio al cliente (24/7)</strong><br>
								William Santana - <a href="mailto:wsantana@tridentcaribbean.com">wsantana@tridentcaribbean.com</a><br>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="widget">
							<h4>Dirección</h4>
							<div class="address">
								<address>
									<strong>Trident Caribbean, LLC</strong><br>
									P.O. BOX 191202<br>
									San Juan, PR. 00919-1202<br>
								</address>
							</div>

							<div class="address">
								<address>
									<strong>Línea Principal</strong> (787) 731-2222 <br>
									<strong> Fax 1</strong> (800) 395-6914 <br>
									<strong> Fax 2</strong> (787) 731-2232
								</address>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<hr />
					<div class="col-md-12"><p class="copy pull-left">
						&copy; 2016 Trident Caribbean, LLC </p>
					</div>
				</div>
			</div>
		</footer>		
		<!--/ Footer -->

		<script src="/js/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>

	</body>	
</html>