{% extends "base_en.html" %}

{% block content %}
		<div class="content">
			<div class="container">

				<div class="hero">
					<h2><span>Alkar</span></h2>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<img src="/img/products/alkar.png" width="200px"/>
						</div>

						<div class="col-md-9 col-sm-6 col-xs-12">
							<p style="font-size:1.5em">Since ALKAR’s beginning in the 1950s, installations have grown to nearly 400 continuous systems and 6,000
							batch units. Unwavering dedication to customer support, engineering and manufacture of custom thermal
							processing solutions paved ALKAR’s way to its present position as industry leader in the meat/protein thermal
							processing segment.</p>
						</div>

						<br><br>

						<div class="col-xs-12 widget">
							<ul>
								<li><i class="fa fa-angle-right"></i>Continuous Systems</li>
								<li><i class="fa fa-angle-right"></i>Batch Ovens</li>
								<li><i class="fa fa-angle-right"></i>Standard, High Temperature, Fermentation</li>
								<li><i class="fa fa-angle-right"></i>Chillers (Air, Brine, Glycol)</li>
								<li><i class="fa fa-angle-right"></i>Pasteurization</li>
								<li><i class="fa fa-angle-right"></i>Drying Rooms</li>
								<li><i class="fa fa-angle-right"></i>Controls</li>
								<li><i class="fa fa-angle-right"></i>Smoke Generators</li>
								<li><i class="fa fa-angle-right"></i>Renovations</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}

