{% extends "base_en.html" %}

{% block content %}
		<div class="content">
			<div class="container">

				<div class="hero">
	                <h2><span>Food Processing</span></h2>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<a href="/en/products/food-processing/alkar/"><img src="/img/products/alkar.png" height="192" width="275" class="img-responsive"/>
								</div>
								<div class="rdetails">
								   <h3>Alkar</h3>
								</div>
							</div>
						</div>
	                     
	                    <div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="http://placehold.it/275x192" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Cozzini</h3>
								</div>                     
							</div>   
						</div>
	                     
	               
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="http://placehold.it/275x192" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Drake</h3>
								</div>
							</div>
						</div>  
	                    
	                    <div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="http://placehold.it/275x192" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Maurer-Atmos</h3>
								</div>                     
							</div>   
						</div>
	               </div>


					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="http://placehold.it/275x192" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>MP-Equipment</h3>
								</div>
							</div>
						</div>  
	                    
	               </div>

	            </div>

			</div>
		</div>

{% endblock %}

