{% extends "base_en.html" %}

{% block content %}
		<div class="content">
			<div class="container">

				<div class="hero">
	                <h2><span>Bakery</span></h2>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/products/sepentine.jpg" width="220" class="img-responsive"/>
								</div>
							</div>
						</div> 

						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/products/baker.jpg" width="220" class="img-responsive"/>
								</div>
							</div>
						</div>
	                     
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/products/stewart.jpg" width="220" class="img-responsive"/>
								</div>
							</div>
						</div>
	                     
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/products/fritsch.jpg" width="220" class="img-responsive"/>
								</div>
							</div>
						</div>
	               </div>

	            </div>

			</div>
		</div>

{% endblock %}

