{% extends "base_en.html" %}

{% block content %}
		<div class="content">
			<div class="container">
				<div class="about-hero" style="font-size:22px;">
					<p>
						<img src="/img/machinery.png" class="pull-left stock-photo"/>
						For over 50 years the Beatty family has provided the food processing and packaging market in the Caribbean region, the best fully vertical integrated production solutions: Meat, Poultry, Seafood and Bakery. Throughout this journey, the top manufacturers in the industry have tapped the Beatty’s for market representation and growth. We have sealed long-term relations with the top companies in our market, consistently fulfilling production strategies and goals.
					</p>
					<br>
					<p>
						Trident Caribbean LLC represents the new millennia, the evolution of the Beatty family business, guiding clients and prospects with better products, services and who seek growth and meet capacity:
						The introduction of Sumidom, SA, Trident&#39;s subsidiary in the Dominican Republic, delivering top quality brands to this growing local market.
					</p>
					<br>
					<p>
						We continually strive to be better, adding new lines and penetrating new markets, Jamaica, Barbados, Trinidad &amp; Tobago... Trident Caribbean, LLC, a full service distributor, bringing the best-in- class brands to your doorstep!
					</p>
				</div>
			</div>
		</div>

{% endblock %}

