{% extends "base_es.html" %}

{% block content %}
		<div class="content">
			<div class="container">
				<div class="about-hero" style="font-size:22px;">
					<p>
						<img src="/img/machinery.png" class="pull-left stock-photo"/>
						Por mas de 50 anos la familia Beatty, ha encarecido el mercado de proceso y empaque de comestibles en la región del Caribe, ofreciendo las mejores soluciones de integración vertical de producción: carnes, avícola, mariscos y panadería. A través de esta jornada, los mas cotizados fabricantes en la industria nos han utilizados para representarles para representación y crecimiento. Hemos sellado relaciones de largo plazo con las principales compañías en nuestro Mercado, consistentemente cumpliendo estrategias de producción y metas deseadas.
					</p>
					<br>
					<p>
						Trident Caribbean LLC representa el nuevo milenio, la evolución de negocio de la familia Beatty, orientando clientes y prospectos en obtener mejores productos, servicios y los que desean incrementar y cumplir capacidad: La introducción de Sumidom, S.A., subsidiaria de Trident en la Republica Dominicana, llevando marcas en alta calidad a este mercado de alto crecimiento.
					</p>
					<br>
					<p>
						Continuamente nos esmeramos en mejorar, añadiendo líneas nuevas y penetrando nuevos mercados, Jamaica, Barbados, Trinidad &amp; Tobago… Trident Caribbean LLC, distribuidor completo y en servicio, brindándoles las mejores marcas a sus puertas! Tantas opciones, una sola llamada…
					</p>
				</div>
			</div>
		</div>

{% endblock %}

