{% extends "base_es.html" %}

{% block content %}
		<div class="content">
			<div class="container">

				<div class="rposts">
	               <h2>Mercados</h2>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/stock/food_processing.jpg" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Fabricación de Alimentos</h3>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/stock/pharma.jpg" alt="" class="img-responsive" />
								</div>
								<!-- Title & Para -->
								<div class="rdetails">
								   <h3>Farmacéutico</h3>
								</div>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/stock/non-food.jpg" alt="" class="img-responsive" />
								</div>
								<!-- Title & Para -->
								<div class="rdetails">
								   <h3>Sin Comida</h3>
								</div>
							</div>
						</div>

					</div>
	                     
	            </div>

			</div>
		</div>

{% endblock %}

