{% extends "base_es.html" %}

{% block content %}
		<div class="content">
			<div class="container">

				<div class="rposts">
	               <h2>Productos</h2>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/stock/food_processing.jpg" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Procesamiento de Alimentos</h3>
								</div>
							</div>
						</div>
	                     
	                    <div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="/img/stock/meat_processing.jpg" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Procesamiento de Carne</h3>
								</div>                     
							</div>   
						</div>
	                     
	               
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="/img/stock/packaging.jpg" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Equipos de Embalaje</h3>
								</div>
							</div>
						</div>  
	                    
					    <div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="/img/stock/artificial_casings.jpg" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Las Envolturas Artificiales</h3>
								</div>                     
							</div>  
						</div>
	               </div>

					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
									<img src="/img/stock/pharma.jpg" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Pharmaceutical</h3>
								</div>
							</div>
						</div>
	                     
	                    <div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="/img/stock/other_equipment.png" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Otro Equipo</h3>
								</div>                     
							</div>   
						</div>
	                     
	               
						<div class="col-md-3 col-sm-6 col-xs-12">
							<div class="rpost1">
								<div class="rimg">
								   <img src="/img/stock/service.png" alt="" class="img-responsive" />
								</div>
								<div class="rdetails">
								   <h3>Servicio</h3>
								</div>
							</div>
						</div>  
	                    
	               </div>
	            </div>

			</div>
		</div>

{% endblock %}

